@import 'definitions/typography.sass';
@import 'definitions/colors.sass';
@import 'helpers/typography.sass';
@import 'helpers/float.sass';
@import 'helpers/spacing.sass';
@import 'helpers/display.sass';
@import 'helpers/text.sass';
@import 'layouts/form.scss';
@import '../../node_modules/@drewbot/sass-flexbox-grid/public/sass-flexbox/main.css';

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

html,
body {
  background-color: $bg-color;
}
