.form__section {
  background-color: white;
  min-height: 50vh;
  min-width: 100vw;
  form {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    input {
      border: 2px solid $secondary;
      margin: 1.25rem 1.5rem;
      border-radius: 55px;
      padding: 1rem;
      transition: all 150ms ease-in-out;
      color: $secondary;
      &::placeholder {
        color: rgba($color: $secondary, $alpha: 0.65);
        // color: $secondary;
      }
      &:focus {
        outline: none;
        padding: 1.1rem;
        font-size: 1rem;
      }
    }
    input[type='submit'] {
      background-color: $secondary;
      color: $linen;
      font-weight: bold;
      width: 50%;
      margin-left: auto;
    }
    label {
      margin-left: 1.5rem;
      color: $secondary;
      font-weight: bold;
    }
  }
}
