$linen: #FEF0ED
$peep: #F52D37
$black: #111
$dark-grey: #716C68
$deep-green: #055555
$deep-purple: #9F5AE5
$dark-text: #707070
$dark-grey: #303030
$light-grey: #F9F9F9

$text: $dark-grey
$primary: $peep
$secondary: $deep-purple
$bg-color: $linen
